@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/lato_light.woff2') format('woff2'),
        url('../fonts/lato_light.woff') format('woff');
        font-display: swap;

}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato_regular.woff2') format('woff2'),
        url('../fonts/lato_regular.woff') format('woff');
        font-display: swap;
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/lato_black.woff2') format('woff2'),
        url('../fonts/lato_black.woff') format('woff');
        font-display: swap;

}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/lato_bold.woff2') format('woff2'),
        url('../fonts/lato_bold.woff') format('woff');
        font-weight: 700;
        font-display: swap;

}

@font-face {
	font-family: 'Lato-Bold-Italic';
	src: url('../fonts/lato_bold_italic.woff2') format('woff2'),
		url('../fonts/lato_bold_italic.woff') format('woff'),

}

@font-face {
	font-family: 'Lato-Heavy';
	src: url('../fonts/lato_heavy.woff2') format('woff2'), 
        url('../fonts/lato_heavy.woff') format('woff');
        font-display: swap; 

}

@font-face {
	font-family: 'MyriadPro-BlackCond';
	src: url('../fonts/myriadpro-blackcond.woff2') format('woff2'),
        url('../fonts/myriadpro-blackcond.woff') format('woff');
        font-display: swap;
}

@font-face {
	font-family: 'Bernadette';
	src: url('../fonts/Bernadette.woff2') format('woff2'),
        url('../fonts/Bernadette.woff') format('woff');
        font-display: swap;
}

@font-face {
        font-family: "BerlinSansFBDemi-Bold";
        src: url("../fonts/BRLNSDB.woff") format("woff"), 
          url("../fonts/BRLNSDB.woff2") format("woff2"); 
        font-weight: normal;
        font-style: normal;
      }